@charset "UTF-8";

/* 共通 ========== */
html {
 width: 100%;
 height: 100%;
 line-height: 1;
 background: #fff;
 color: #393939;
 font-size: 62.5%;
}

body {
 width: 100%;
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 1rem;
 line-height: 1.6;
 overflow-y: scroll;
 font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue',
  HelveticaNeue, '游ゴシック体', YuGothic, '游ゴシック Medium',
  'Yu Gothic Medium', '游ゴシック', 'Yu Gothic', Verdana, 'メイリオ', Meiryo,
  sans-serif;
 word-break: break-all;
 -webkit-text-size-adjust: 100%;
 background-repeat: no-repeat;
 background-position: top center;
 -webkit-background-size: cover;
 background-size: cover;
 background-attachment: fixed;
}

article,
aside,
details,
figcaption,
include,
footer,
header,
hgroup,
main,
nav,
section,
summary,
figure {
 display: block;
 margin: 0;
 padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
p,
blockquote,
ul,
ol,
li {
 margin: 1.4em 0 0.6em;
 padding: 0;
 font-size: 100%;
 vertical-align: baseline;
 -webkit-overflow-wrap: break-word;
 -ms-overflow-wrap: break-word;
 overflow-wrap: break-word;
 -webkit-word-wrap: break-word;
 -ms-word-wrap: break-word;
 word-wrap: break-word;
 font-size: 1.4rem;
}

figcaption,
span {
 -webkit-overflow-wrap: break-word;
 -ms-overflow-wrap: break-word;
 overflow-wrap: break-word;
 -webkit-word-wrap: break-word;
 -ms-word-wrap: break-word;
 word-wrap: break-word;
}

p {
 margin: 8px 0;
}

audio,
canvas,
progress,
video {
 display: inline-block;
 vertical-align: baseline;
}

audio:not([controls]) {
 display: none;
 height: 0;
}

[hidden],
template {
 display: none;
}

a {
 transition: 0.3s color;
 color: #026db6;
}

a:link {
 color: #026db6;
 text-decoration: none;
}

a:visited {
 color: #026db6;
 text-decoration: none;
}

a:hover,
a:active {
 color: #25a1ef;
 text-decoration: underline;
}

i,
em,
address {
 font-style: normal;
}

b,
strong,
em,
.is-bold {
 font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue',
  HelveticaNeue, 'Segoe UI', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic',
  Verdana, 'メイリオ', Meiryo, sans-serif;
 font-weight: bold;
}

small {
 font-size: 100%;
}

ul,
ol {
 margin: 1.2em 0;
 padding: 0 0 0 2em;
}

li {
 margin: 0.4em 0;
}

img {
 border: 0;
 vertical-align: top;
 -ms-interpolation-mode: bicubic;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

td,
th {
 padding: 0;
}

/* サイト内共通 ========== */
/* obj */
.sp-obj {
 display: block;
}

.pc-obj {
 display: none;
}

/* clearfix */
.clearfix {
 *zoom: 1;
}

.clearfix:before,
.clearfix:after {
 content: '';
 display: table;
}

.clearfix:after {
 clear: both;
}

/* wrap-all */
.wrap-all {
 padding: 0;
 box-sizing: border-box;
 position: relative;
}

/* main-wrap */
.main-wrap {
 margin: 0 auto;
 padding: 0;
 box-sizing: border-box;
}

/* inner */
.inner {
 margin: 0 auto;
 width: 100%;
 max-width: 1024px;
 padding: 0 4%;
 box-sizing: border-box;
}

/* Vue =========== */
[v-cloak] {
 display: none !important;
}

/* ヘッダー ========== */
.hd-wrap {
 width: 100%;
 z-index: 1000;
 box-sizing: border-box;
 position: fixed;
 bottom: 0;
 left: 0;
 padding: 0;
}
.hd-menu {
 display: flex;
 overflow: hidden;
 border: 1px solid #f53e33;
 border-radius: 56px;
 margin-bottom: 16px;
 box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.24);
}
.refine-btn,
a.refine-btn {
 display: block;
 width: calc(100% - 72px);
 border: none;
 background-color: #fff;
 color: #393939;
 font-size: 1.4rem;
 font-weight: bold;
 padding: 0;
 margin: 0;
 outline: 0;
 box-sizing: border-box;
 text-align: center;
 cursor: pointer;
}
.page-top-btn,
a.page-top-btn {
 display: block;
 width: 72px;
 height: 56px;
 border: none;
 border-left: 1px solid #f53e33;
 background-color: #fff;
 color: #393939;
 font-size: 1.4rem;
 padding: 0;
 margin: 0;
 outline: 0;
 box-sizing: border-box;
 text-align: center;
 cursor: pointer;
}
.page-top-tx {
 display: block;
 font-size: 1rem;
 line-height: 1;
}

/* フッター ========== */
.ft-wrap {
 margin-top: 40px;
 padding-bottom: 56px;
}
.ft-copy-wrap {
 border-top: 1px solid #bdbdbd;
}
.ft-copy-box {
 padding: 24px 0;
}
.ft-copy {
 margin: 0;
 text-align: center;
}
.ft-copy_tx {
 font-size: 1.2rem;
 color: #989898;
}

/* ページタイトル ========== */
.page-ttl-box {
 background-color: #f53e33;
 overflow: hidden;
}
.page-ttl {
 margin: 0 auto;
 padding: 24px 0 16px;
 color: #f9f9f9;
 position: relative;
}
.page-ttl_tx {
 margin: 0;
 font-size: 2.4rem;
 font-weight: bold;
}

/* 合計数 ========== */
.total-num-box {
 position: relative;
}
.total-num-box:before {
 content: '';
 background-color: #f53e33;
 width: 100%;
 height: 24px;
 display: block;
 position: absolute;
 left: 0;
 top: 0;
 z-index: 1;
}
.total-num_item {
 margin: 0;
 padding: 0;
 display: flex;
 width: 100%;
 box-sizing: border-box;
 border: 1px solid #bdbdbd;
 border-radius: 4px;
 background-color: #fff;
 position: relative;
 z-index: 2;
 overflow: hidden;
}
.total-num_item + .total-num_item {
 margin-top: 8px;
}
.total-num_ttl {
 margin: 0;
 padding: 8px 16px;
 display: flex;
 align-items: center;
 width: 100px;
 box-sizing: border-box;
 border-right: 1px solid #bdbdbd;
 background-color: #f5f5f5;
}
.total-num_cnt {
 margin: 0;
 padding: 8px 16px;
 display: flex;
 align-items: center;
 width: calc(100% - 100px);
 box-sizing: border-box;
}
.total-num_cnt-num {
 font-size: 1.8rem;
 font-weight: bold;
}

/* エラーメッセージ ========== */
.error-mes-box {
 margin-top: 16px;
}
.error-mes_ttl {
 margin: 0;
 font-size: 1.8rem;
 font-weight: bold;
}
.error-mes_tx {
 margin: 8px 0 0;
}

/* ローディング ========== */
.loading-box {
 margin: 16px 0 0;
}
.loading {
 margin: 0 auto;
 display: block;
 width: 40px;
 height: 40px;
 border: 20px solid #f53e33;
 background-color: #fff;
 animation: loading 750ms linear infinite;
 box-sizing: border-box;
}
@keyframes loading {
 0% {
  border-color: #f53e33 rgba(245, 62, 51, 0.25) rgba(245, 62, 51, 0.5)
   rgba(245, 62, 51, 0.75);
 }
 25% {
  border-color: rgba(245, 62, 51, 0.75) #f53e33 rgba(245, 62, 51, 0.25)
   rgba(245, 62, 51, 0.5);
 }
 50% {
  border-color: rgba(245, 62, 51, 0.5) rgba(245, 62, 51, 0.75) #f53e33
   rgba(245, 62, 51, 0.25);
 }
 75% {
  border-color: rgba(245, 62, 51, 0.25) rgba(245, 62, 51, 0.5)
   rgba(245, 62, 51, 0.75) rgba(245, 62, 51, 0.75);
 }
 100% {
  border-color: #f53e33 rgba(245, 62, 51, 0.25) rgba(245, 62, 51, 0.5)
   rgba(245, 62, 51, 0.75);
 }
}
.loading_tx {
 margin: 16px 0 0;
 font-size: 1.2rem;
 text-align: center;
}

/* 都道府県グラフ ========== */
.pref-graph-box {
 margin-top: 16px;
}
.result-graph {
 position: relative;
 padding: 4px;
 border: 1px solid #bdbdbd;
 border-radius: 4px;
 background-color: #fff;
 box-sizing: border-box;
 overflow: hidden;
}

/* 都道府県テーブル ========== */
.pref-tbl-box {
 margin-top: 16px;
 border: 1px solid #bdbdbd;
 border-radius: 4px;
 background-color: #fff;
 box-sizing: border-box;
 overflow: hidden;
}
.pref-tbl {
 width: 100%;
 font-size: 1.4rem;
}

.pref-tbl_row.is-hd {
 border-bottom: 1px solid #e0e0e0;
}
.pref-tbl_cell.is-hd {
 font-size: 1.2rem;
 text-align: center;
 padding: 4px;
 color: #989898;
 box-sizing: border-box;
}

.pref-tbl_row.is-bd {
 border-bottom: 1px dotted #bdbdbd;
}
.pref-tbl_bd > .pref-tbl_row.is-bd:nth-of-type(even) {
 background-color: #f5f5f5;
}
.pref-tbl_bd > .pref-tbl_row.is-bd:last-of-type {
 border-bottom: none;
}
.pref-tbl_cell.is-bd {
 padding: 4px 8px;
 box-sizing: border-box;
}

.pref-tbl_cell.is-bd.is-num {
 white-space: nowrap;
 font-size: 1.2rem;
 color: #989898;
 width: 10%;
 text-align: center;
}
.pref-tbl_cell.is-pref {
 width: 20%;
 white-space: nowrap;
}
.pref-tbl_cell.is-cases {
 width: 35%;
 white-space: nowrap;
}
.pref-tbl_cell.is-deaths {
 width: 35%;
 white-space: nowrap;
}

/* メッセージ ========== */
.mes-box {
 margin-top: 16px;
 padding-top: 16px;
 border-top: 1px solid #e0e0e0;
}
.mes_tx {
 margin: 0;
}
.mes_tx + .mes_tx {
 margin-top: 8px;
}
