@charset "UTF-8";

/* アイコン ========== */
@font-face {
 font-family: 'icomoon';
 src: url('fonts/icomoon.eot?l2puxd');
 src: url('fonts/icomoon.eot?l2puxd#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?l2puxd') format('truetype'),
  url('fonts/icomoon.woff?l2puxd') format('woff'),
  url('fonts/icomoon.svg?l2puxd#icomoon') format('svg');
 font-weight: normal;
 font-style: normal;
 font-display: block;
}

.icon {
 /* use !important to prevent issues with browser extensions that change fonts */
 font-family: 'icomoon' !important;
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;
 color: #c8c8c8;
 /* Better Font Rendering =========== */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 transition: 0.3s color;
 display: inline-block;
 vertical-align: text-bottom;
 font-size: 1.4rem;
}
.icon.is-reset:before {
 content: '\e984';
}
.icon.is-search:before {
 content: '\e986';
}

/* 共通 ========== */
html {
 width: 100%;
 height: 100%;
 line-height: 1;
 background: #fff;
 color: #393939;
 font-size: 62.5%;
}

body {
 width: 100%;
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 1rem;
 line-height: 1.6;
 overflow-y: scroll;
 font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue',
  HelveticaNeue, '游ゴシック体', YuGothic, '游ゴシック Medium',
  'Yu Gothic Medium', '游ゴシック', 'Yu Gothic', Verdana, 'メイリオ', Meiryo,
  sans-serif;
 word-break: break-all;
 -webkit-text-size-adjust: 100%;
 background-repeat: no-repeat;
 background-position: top center;
 -webkit-background-size: cover;
 background-size: cover;
 background-attachment: fixed;
}

article,
aside,
details,
figcaption,
include,
footer,
header,
hgroup,
main,
nav,
section,
summary,
figure {
 display: block;
 margin: 0;
 padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
p,
blockquote,
ul,
ol,
li {
 margin: 1.4em 0 0.6em;
 padding: 0;
 font-size: 100%;
 vertical-align: baseline;
 -webkit-overflow-wrap: break-word;
 -ms-overflow-wrap: break-word;
 overflow-wrap: break-word;
 -webkit-word-wrap: break-word;
 -ms-word-wrap: break-word;
 word-wrap: break-word;
 font-size: 1.4rem;
}

figcaption,
span {
 -webkit-overflow-wrap: break-word;
 -ms-overflow-wrap: break-word;
 overflow-wrap: break-word;
 -webkit-word-wrap: break-word;
 -ms-word-wrap: break-word;
 word-wrap: break-word;
}

p {
 margin: 8px 0;
}

audio,
canvas,
progress,
video {
 display: inline-block;
 vertical-align: baseline;
}

audio:not([controls]) {
 display: none;
 height: 0;
}

[hidden],
template {
 display: none;
}

a {
 transition: 0.3s color;
 color: #026db6;
}

a:link {
 color: #026db6;
 text-decoration: none;
}

a:visited {
 color: #026db6;
 text-decoration: none;
}

a:hover,
a:active {
 color: #25a1ef;
 text-decoration: underline;
}

i,
em,
address {
 font-style: normal;
}

b,
strong,
em,
.is-bold {
 font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue',
  HelveticaNeue, 'Segoe UI', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic',
  Verdana, 'メイリオ', Meiryo, sans-serif;
 font-weight: bold;
}

small {
 font-size: 100%;
}

ul,
ol {
 margin: 1.2em 0;
 padding: 0 0 0 2em;
}

li {
 margin: 0.4em 0;
}

img {
 border: 0;
 vertical-align: top;
 -ms-interpolation-mode: bicubic;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

td,
th {
 padding: 0;
}

/* サイト内共通 ========== */
/* obj */
.sp-obj {
 display: block;
}

.pc-obj {
 display: none;
}

/* clearfix */
.clearfix {
 *zoom: 1;
}

.clearfix:before,
.clearfix:after {
 content: '';
 display: table;
}

.clearfix:after {
 clear: both;
}

/* wrap-all */
.wrap-all {
 padding: 0;
 box-sizing: border-box;
 position: relative;
}

/* main-wrap */
.main-wrap {
 margin: 0 auto;
 padding: 0;
 box-sizing: border-box;
}

/* inner */
.inner {
 margin: 0 auto;
 width: 100%;
 max-width: 1024px;
 padding: 0 4%;
 box-sizing: border-box;
}

/* 入力項目共通 ========== */
.frm_lb {
 cursor: pointer;
 display: block;
 position: relative;
}

input[type='checkbox'].frm_chk {
 position: absolute;
 top: 0;
 left: 0;
 opacity: 0;
 margin: 0;
}

.frm_chk-tx {
 display: block;
 padding: 4px 6px 4px 40px;
 min-height: 20px;
 line-height: 18px;
 box-sizing: border-box;
 border: none;
 position: relative;
 border-radius: 2px;
 transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out,
  color 0.1s ease-in-out;
 font-size: 1.4rem;
}

.frm_chk-faker {
 display: block;
 width: 24px;
 height: 24px;
 background: #fbfbfb;
 border: 1px solid #b5b5b5;
 border-radius: 2px;
 box-sizing: border-box;
 position: absolute;
 left: 4px;
 top: 50%;
 transform: translate(0, -50%);
 transition: all 0.3s ease-in-out;
 box-shadow: -2px -2px 8px #fff, 2px 2px 8px #b3bec3;
}
.frm_chk-faker:after {
 content: '';
 width: 12px;
 height: 6px;
 border-bottom: 3px solid #d2d2d2;
 border-left: 3px solid #d2d2d2;
 display: block;
 position: absolute;
 margin-top: -2px;
 top: 50%;
 left: 4px;
 transition: border-color 0.1s ease-in-out;
 transform: translate(0, -50%) rotate(-45deg);
}
.frm_chk:hover ~ .frm_chk-tx .frm_chk-faker {
 box-shadow: -1px -1px 4px #fff, 1px 1px 4px #b3bec3;
}
.frm_chk:checked ~ .frm_chk-tx {
 font-weight: bold;
}
.frm_chk:checked ~ .frm_chk-tx .frm_chk-faker {
 box-shadow: inset 2px 2px 2px #b3bec3, -2px -2px 2px #fff;
}
.frm_chk:checked ~ .frm_chk-tx .frm_chk-faker:after {
 border-bottom-color: #f53e33;
 border-left-color: #f53e33;
}

/* Vue =========== */
[v-cloak] {
 display: none !important;
}

/* フェードアニメーション */
.fade-enter-active,
.fade-leave-active {
 transition: opacity 0.3s ease;
}
.modal_cnt.is-video-thanks-img.fade-enter-active {
 transition-delay: 0.3s;
}

.fade-enter,
.fade-leave-to {
 opacity: 0 !important;
}

.fade-enter-to,
.fade-leave {
 opacity: 1 !important;
}

/* ヘッダー ========== */
.hd-wrap {
 width: 100%;
 z-index: 1000;
 box-sizing: border-box;
 position: fixed;
 bottom: 0;
 left: 0;
 padding: 0;
}
.hd-menu {
 display: flex;
 overflow: hidden;
 border: 2px solid #f53e33;
 border-radius: 56px;
 max-width: 400px;
 margin: 0 auto 16px;
 box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.24);
}

.refine-btn,
a.refine-btn {
 display: flex;
 align-items: center;
 justify-content: center;
 width: calc(100% - 72px);
 border: none;
 background-color: #fff;
 color: #393939;
 font-size: 1.6rem;
 font-weight: bold;
 padding: 0;
 margin: 0;
 outline: 0;
 box-sizing: border-box;
 cursor: pointer;
 transition: 0.3s background-color, 0.3s color;
}

.refine-btn:hover,
a.refine-btn:hover {
 color: #f53e33;
 background-color: #ffe3e1;
}

.refine-btn .icon {
 font-size: 2.2rem;
 color: #393939;
 margin-right: 12px;
}
.refine-btn:hover .icon {
 color: #f53e33;
}

.page-top-btn,
a.page-top-btn {
 display: block;
 width: 72px;
 height: 56px;
 border: none;
 border-left: 1px solid #f53e33;
 background-color: #fff;
 color: #393939;
 font-size: 1.4rem;
 padding: 0;
 margin: 0;
 outline: 0;
 box-sizing: border-box;
 text-align: center;
 cursor: pointer;
 position: relative;
}
.page-top-btn:before,
a.page-top-btn:before {
 content: '';
 display: block;
 width: 16px;
 height: 16px;
 margin: 0 auto;
 border-top: 4px solid #bdbdbd;
 border-left: 4px solid #bdbdbd;
 transform: rotate(45deg);
 transition: 0.3s border-color;
}
.page-top-btn:hover:before,
a.page-top-btn:hover:before,
.page-top-btn:active:before,
a.page-top-btn:active:before {
 border-color: #f53e33;
}
.page-top-tx {
 display: block;
 font-size: 1rem;
 line-height: 1;
 margin-top: 2px;
}

.hd-menu-cnt-box {
 display: block;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2020;
 overflow: auto;
 -webkit-overflow-scrolling: touch;
}
.hd-menu-cnt {
 position: relative;
 margin: 64px auto 24px;
 padding: 16px;
 width: 96%;
 max-width: 800px;
 background-color: #f9f9f9;
 box-sizing: border-box;
 border-radius: 8px;
}

.hd-menu-cnt_reset-btn,
a.hd-menu-cnt_reset-btn {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 max-width: 120px;
 background-color: transparent;
 color: #393939;
 border: 1px solid #bdbdbd;
 border-radius: 4px;
 font-size: 1.2rem;
 font-weight: normal;
 padding: 4px;
 margin: 0 0 0 auto;
 outline: 0;
 box-sizing: border-box;
 cursor: pointer;
 transition: 0.3s background-color, 0.3s color;
}
.hd-menu-cnt_reset-btn .icon {
 color: #393939;
 margin-right: 8px;
 font-size: 1.2rem;
}

.hd-menu_items {
 margin: 16px 0 0;
 padding: 0;
 list-style: none;
 display: flex;
 flex-wrap: wrap;
}
.hd-menu_item {
 width: 50%;
 margin: 0 0 16px;
}

.hd-overlay {
 /* display: none; */
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.6);
 z-index: 1010;
}
.hd-overlay.is-active {
 display: block;
}

.hd-menu-cnt_top-close-btn,
a.hd-menu-cnt_top-close-btn {
 position: absolute;
 top: -48px;
 right: 0;
 width: 40px;
 height: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 0;
 margin: 0;
 background-color: transparent;
 border: none;
 outline: none;
 cursor: pointer;
}

.stl-icon {
 position: relative;
 display: inline-block;
 transition: 0.3s background-color;
}
.stl-icon:before,
.stl-icon:after {
 transition: 0.3s background-color;
}
.stl-icon.is-cross {
 width: 32px;
 height: 32px;
 transform: rotate(45deg);
}
.stl-icon.is-cross:before,
.stl-icon.is-cross:after {
 content: '';
 position: absolute;
 display: block;
 background-color: #f9f9f9;
}
.stl-icon.is-cross:before {
 width: 32px;
 height: 4px;
 left: 0;
 top: 50%;
 margin-top: -2px;
}
.stl-icon.is-cross:after {
 width: 4px;
 height: 32px;
 left: 50%;
 top: 0;
 margin-left: -2px;
}

.hd-menu-cnt_btm-box {
 margin-top: 8px;
}
.hd-menu-cnt_btm-close-btn,
a.hd-menu-cnt_btm-close-btn {
 display: block;
 width: 100%;
 max-width: 160px;
 background-color: #f5f5f5;
 color: #393939;
 border: 2px solid #bdbdbd;
 border-radius: 4px;
 font-size: 1.4rem;
 font-weight: normal;
 padding: 8px;
 margin: 0 auto;
 outline: 0;
 box-sizing: border-box;
 text-align: center;
 cursor: pointer;
 transition: 0.3s background-color, 0.3s color;
}

/* フッター ========== */
.ft-wrap {
 margin-top: 40px;
 padding-bottom: 74px;
}
.ft-copy-wrap {
 border-top: 1px solid #bdbdbd;
}
.ft-copy-box {
 padding: 24px 0;
}
.ft-copy {
 margin: 0;
 text-align: center;
}
.ft-copy_tx {
 font-size: 1.2rem;
 color: #989898;
}

/* ページタイトル ========== */
.page-ttl-box {
 background-color: #f53e33;
 overflow: hidden;
}
.page-ttl {
 margin: 0 auto;
 padding: 24px 0 16px;
 color: #f9f9f9;
 position: relative;
}
.page-ttl_tx {
 margin: 0;
 font-size: 2.4rem;
 font-weight: bold;
}
.page-ttl_img {
 width: 240px;
 height: 37.5px;
}

/* 合計数 ========== */
.total-num-box {
 position: relative;
}
.total-num-box:before {
 content: '';
 background-color: #f53e33;
 width: 100%;
 height: 24px;
 display: block;
 position: absolute;
 left: 0;
 top: 0;
 z-index: 1;
}
.total-num_item {
 margin: 0;
 padding: 0;
 display: flex;
 width: 100%;
 box-sizing: border-box;
 border: 1px solid #bdbdbd;
 border-radius: 4px;
 background-color: #fff;
 position: relative;
 z-index: 2;
 overflow: hidden;
}
.total-num_item + .total-num_item {
 margin-top: 8px;
}
.total-num_ttl {
 margin: 0;
 padding: 8px 16px;
 display: flex;
 align-items: center;
 width: 100px;
 box-sizing: border-box;
 border-right: 1px solid #bdbdbd;
 background-color: #f5f5f5;
}
.total-num_cnt {
 margin: 0;
 padding: 8px 16px;
 display: flex;
 align-items: center;
 width: calc(100% - 100px);
 box-sizing: border-box;
}
.total-num_cnt-num {
 font-size: 1.8rem;
 font-weight: bold;
}

/* エラーメッセージ ========== */
.error-mes-box {
 margin-top: 16px;
}
.error-mes_ttl {
 margin: 0;
 font-size: 1.8rem;
 font-weight: bold;
}
.error-mes_tx {
 margin: 8px 0 0;
}

/* ローディング ========== */
.loading-box {
 margin: 16px 0 0;
}
.loading {
 margin: 0 auto;
 display: block;
 width: 40px;
 height: 40px;
 border: 20px solid #f53e33;
 background-color: #fff;
 animation: loading 750ms linear infinite;
 box-sizing: border-box;
}
@keyframes loading {
 0% {
  border-color: #f53e33 rgba(245, 62, 51, 0.25) rgba(245, 62, 51, 0.5)
   rgba(245, 62, 51, 0.75);
 }
 25% {
  border-color: rgba(245, 62, 51, 0.75) #f53e33 rgba(245, 62, 51, 0.25)
   rgba(245, 62, 51, 0.5);
 }
 50% {
  border-color: rgba(245, 62, 51, 0.5) rgba(245, 62, 51, 0.75) #f53e33
   rgba(245, 62, 51, 0.25);
 }
 75% {
  border-color: rgba(245, 62, 51, 0.25) rgba(245, 62, 51, 0.5)
   rgba(245, 62, 51, 0.75) rgba(245, 62, 51, 0.75);
 }
 100% {
  border-color: #f53e33 rgba(245, 62, 51, 0.25) rgba(245, 62, 51, 0.5)
   rgba(245, 62, 51, 0.75);
 }
}
.loading_tx {
 margin: 16px 0 0;
 font-size: 1.2rem;
 text-align: center;
}

/* 都道府県グラフ ========== */
.pref-graph-box {
 margin-top: 16px;
}
.result-graph {
 position: relative;
 padding: 4px;
 border: 1px solid #bdbdbd;
 border-radius: 4px;
 background-color: #fff;
 box-sizing: border-box;
 overflow: hidden;
}

/* 都道府県テーブル ========== */
.pref-tbl-box {
 margin-top: 16px;
 border: 1px solid #bdbdbd;
 border-radius: 4px;
 background-color: #fff;
 box-sizing: border-box;
 overflow: hidden;
}
.pref-tbl {
 width: 100%;
 font-size: 1.4rem;
}

.pref-tbl_row.is-hd {
 border-bottom: 1px solid #e0e0e0;
}
.pref-tbl_cell.is-hd {
 font-size: 1.2rem;
 text-align: center;
 padding: 4px;
 color: #989898;
 box-sizing: border-box;
}

.pref-tbl_row.is-bd {
 border-bottom: 1px dotted #bdbdbd;
}
.pref-tbl_bd > .pref-tbl_row.is-bd:nth-of-type(even) {
 background-color: #f5f5f5;
}
.pref-tbl_bd > .pref-tbl_row.is-bd:last-of-type {
 border-bottom: none;
}
.pref-tbl_cell.is-bd {
 padding: 4px 8px;
 box-sizing: border-box;
}

.pref-tbl_cell.is-bd.is-num {
 white-space: nowrap;
 font-size: 1.2rem;
 color: #989898;
 width: 10%;
 text-align: center;
}
.pref-tbl_cell.is-pref {
 width: 20%;
 white-space: nowrap;
}
.pref-tbl_cell.is-cases {
 width: 35%;
 white-space: nowrap;
}
.pref-tbl_cell.is-deaths {
 width: 35%;
 white-space: nowrap;
}

/* メッセージ ========== */
.mes-box {
 margin-top: 16px;
 padding-top: 16px;
 border-top: 1px solid #e0e0e0;
}
.mes_tx {
 margin: 0;
}
.mes_tx + .mes_tx {
 margin-top: 8px;
}
